import { FunctionComponent } from 'react';
import * as S from './{{pascalCase name}}.styles'

type TProps = {}

const {{pascalCase name}}: FunctionComponent<TProps> = ({}) => (
<S.Wrapper>
    <h2>{{pascalCase name}}</h2>
</S.Wrapper>
)

export default {{pascalCase name}}