import * as S from './styles'

type IProps = {}

const {{pascalCase name}} = ({}: IProps): JSX.Element => (
<S.Wrapper>
    <h1>{{pascalCase name}}</h1>
</S.Wrapper>
)

export default {{pascalCase name}}
