import * as S from './{{pascalCase name}}.styles'

type IProps = {}

const {{pascalCase name}} = ({}: IProps): JSX.Element => (
<S.Wrapper>
    <h2>{{pascalCase name}}</h2>
</S.Wrapper>
)

export default {{pascalCase name}}